**<P-199 – Stock market Analysis >**

**Business Objective:** 

Predict the Reliance Industries Stock Price for the next 30 days.
There are Open, High, Low and Close prices that you need to obtain from the web for each day starting from 2015 to 2022 for Reliance Industries stock.

●	Split the last year into a test set- to build a model to predict stock price.

●	Find short term, & long term trends.

●	Understand how it is impacted from external factors or any big external events.

●	Forecast for next 30 days.

**Web Scraping done using nsepy library. Obtained data of Stocks for Reliance Industries from 1st Jan,2015 to 15th Feb,2023.**

**Column names are : Symbol, Series, Prev Close, Open, High, Low, Last, Close, VWAP, Volume, Turnover, Trades, Deliverable Volume, %Deliverable.**

In [1]:
import pandas as  pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
!pip install nsepy
from nsepy import get_history
from datetime import date

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting nsepy
  Downloading nsepy-0.8.tar.gz (33 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.9/dist-packages (from nsepy) (4.9.3)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from nsepy) (2.25.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from nsepy) (1.22.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from nsepy) (1.4.4)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from nsepy) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.9/dist-packages (from nsepy) (8.1.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from nsepy) (4.9.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.9/dist-packages (from beautifulsoup4->nsepy) (2.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->nsepy) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas->nsepy) (2022.7.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->nsepy) (2022.12.7)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from requests->nsepy) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->nsepy) (1.26.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->nsepy) (2.10)
Building wheels for collected packages: nsepy
  Building wheel for nsepy (setup.py) ... done
  Created wheel for nsepy: filename=nsepy-0.8-py3-none-any.whl size=36081 sha256=4b8de9ce83c9649fcd5c53300486d6da441e96810b88504f814e94e8a1c5d895
  Stored in directory: /root/.cache/pip/wheels/50/12/d5/bbea58569f0c28fa7a6cb72cc76303ecd20d40c977742486df
Successfully built nsepy
Installing collected packages: nsepy
Successfully installed nsepy-0.8

In [3]:
start_date=date(2015,1,1)
end_date=date(2023,2,15)

reliance=get_history(symbol="RELIANCE",start=start_date,end=end_date)
print(reliance)

WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10
WARNING:urllib3.connectionpool:Connection pool is full, discarding connection: www1.nseindia.com. Connection pool size: 10

              Symbol Series  Prev Close     Open     High      Low     Last  \
Date
2015-01-01  RELIANCE     EQ      891.15   886.30   892.00   883.65   888.00
2015-01-02  RELIANCE     EQ      887.90   888.10   896.05   884.30   884.95
2015-01-05  RELIANCE     EQ      885.55   885.00   890.90   874.10   875.55
2015-01-06  RELIANCE     EQ      875.85   870.00   873.00   832.00   832.50
2015-01-07  RELIANCE     EQ      836.10   837.10   858.80   837.00   858.00
...              ...    ...         ...      ...      ...      ...      ...
2023-02-09  RELIANCE     EQ     2351.95  2353.45  2370.85  2334.00  2353.60
2023-02-10  RELIANCE     EQ     2356.05  2354.90  2354.90  2321.30  2336.50
2023-02-13  RELIANCE     EQ     2336.65  2340.20  2350.00  2313.55  2324.60
2023-02-14  RELIANCE     EQ     2323.35  2329.95  2381.90  2323.65  2380.00
2023-02-15  RELIANCE     EQ     2378.10  2376.00  2437.20  2373.00  2435.05

              Close     VWAP    Volume      Turnover  Trades  \
Date
2015-01-01   887.90   887.62    677439  6.013059e+13   16263
2015-01-02   885.55   889.39   1675827  1.490461e+14   31269
2015-01-05   875.85   881.88   2309591  2.036781e+14   67035
2015-01-06   836.10   847.60   4258043  3.609133e+14  120767
2015-01-07   854.30   849.81   4736315  4.024972e+14  125939
...             ...      ...       ...           ...     ...
2023-02-09  2356.05  2354.91   6079228  1.431601e+15  264097
2023-02-10  2336.65  2331.77   4979789  1.161172e+15  188258
2023-02-13  2323.35  2323.49   4777674  1.110088e+15  151763
2023-02-14  2378.10  2365.58   6609564  1.563542e+15  227277
2023-02-15  2431.95  2417.55  15461902  3.737992e+15  338567

            Deliverable Volume  %Deliverble
Date
2015-01-01              286377       0.4227
2015-01-02             1048543       0.6257
2015-01-05             1393132       0.6032
2015-01-06             2353273       0.5527
2015-01-07             2885468       0.6092
...                        ...          ...
2023-02-09             3862283       0.6353
2023-02-10             2634108       0.5290
2023-02-13             2780205       0.5819
2023-02-14             4049724       0.6127
2023-02-15            11644633       0.7531

[2014 rows x 14 columns]

In [4]:
reliance.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2014 entries, 2015-01-01 to 2023-02-15
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Symbol              2014 non-null   object
 1   Series              2014 non-null   object
 2   Prev Close          2014 non-null   float64
 3   Open                2014 non-null   float64
 4   High                2014 non-null   float64
 5   Low                 2014 non-null   float64
 6   Last                2014 non-null   float64
 7   Close               2014 non-null   float64
 8   VWAP                2014 non-null   float64
 9   Volume              2014 non-null   int64
 10  Turnover            2014 non-null   float64
 11  Trades              2014 non-null   int64
 12  Deliverable Volume  2014 non-null   int64
 13  %Deliverble         2014 non-null   float64
dtypes: float64(9), int64(3), object(2)
memory usage: 236.0+ KB

In [5]:
reliance.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2015-01-01,RELIANCE,EQ,891.15,886.3,892.00,883.65,888.00,887.90,887.62,677439,6.013059e+13,16263,286377,0.4227
2015-01-02,RELIANCE,EQ,887.90,888.1,896.05,884.30,884.95,885.55,889.39,1675827,1.490461e+14,31269,1048543,0.6257
2015-01-05,RELIANCE,EQ,885.55,885.0,890.90,874.10,875.55,875.85,881.88,2309591,2.036781e+14,67035,1393132,0.6032
2015-01-06,RELIANCE,EQ,875.85,870.0,873.00,832.00,832.50,836.10,847.60,4258043,3.609133e+14,120767,2353273,0.5527
2015-01-07,RELIANCE,EQ,836.10,837.1,858.80,837.00,858.00,854.30,849.81,4736315,4.024972e+14,125939,2885468,0.6092

In [6]:
reliance.tail()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2023-02-09,RELIANCE,EQ,2351.95,2353.45,2370.85,2334.00,2353.60,2356.05,2354.91,6079228,1.431601e+15,264097,3862283,0.6353
2023-02-10,RELIANCE,EQ,2356.05,2354.90,2354.90,2321.30,2336.50,2336.65,2331.77,4979789,1.161172e+15,188258,2634108,0.5290
2023-02-13,RELIANCE,EQ,2336.65,2340.20,2350.00,2313.55,2324.60,2323.35,2323.49,4777674,1.110088e+15,151763,2780205,0.5819
2023-02-14,RELIANCE,EQ,2323.35,2329.95,2381.90,2323.65,2380.00,2378.10,2365.58,6609564,1.563542e+15,227277,4049724,0.6127
2023-02-15,RELIANCE,EQ,2378.10,2376.00,2437.20,2373.00,2435.05,2431.95,2417.55,15461902,3.737992e+15,338567,11644633,0.7531

In [7]:
reliance.isna()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2015-01-01,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2015-01-02,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2015-01-05,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2015-01-06,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2015-01-07,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-02-09,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2023-02-10,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2023-02-13,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2023-02-14,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2023-02-15,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [8]:
print(reliance.isnull().sum())

Symbol                0
Series                0
Prev Close            0
Open                  0
High                  0
Low                   0
Last                  0
Close                 0
VWAP                  0
Volume                0
Turnover              0
Trades                0
Deliverable Volume    0
%Deliverble           0
dtype: int64

In [9]:
reliance.dropna(axis=0,inplace=True)

In [10]:
reliance=reliance.dropna()

In [11]:
reliance.isnull().sum()

Symbol                0
Series                0
Prev Close            0
Open                  0
High                  0
Low                   0
Last                  0
Close                 0
VWAP                  0
Volume                0
Turnover              0
Trades                0
Deliverable Volume    0
%Deliverble           0
dtype: int64

In [12]:
reliance.dtypes

Symbol                 object
Series                 object
Prev Close            float64
Open                  float64
High                  float64
Low                   float64
Last                  float64
Close                 float64
VWAP                  float64
Volume                  int64
Turnover              float64
Trades                  int64
Deliverable Volume      int64
%Deliverble           float64
dtype: object

In [13]:
reliance.describe()

,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
count,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2014.000000,2.014000e+03,2.014000e+03,2.014000e+03,2.014000e+03,2014.000000
mean,1510.471102,1512.325919,1529.246549,1494.650571,1511.190094,1511.236147,1512.210159,7.725706e+06,1.238188e+15,1.901945e+05,3.347982e+06,0.481031
std,600.619643,601.394506,607.592648,594.534186,600.763289,600.811659,601.066917,6.640182e+06,1.261530e+15,1.424240e+05,2.267165e+06,0.123588
min,780.900000,791.750000,793.400000,779.100000,781.200000,780.900000,785.510000,2.995110e+05,2.781933e+13,8.723000e+03,9.803000e+04,0.114800
25%,996.112500,995.925000,1006.475000,986.537500,995.600000,996.375000,996.732500,3.756861e+06,4.096544e+14,9.207650e+04,1.921534e+06,0.399225
50%,1281.600000,1285.050000,1296.975000,1272.425000,1282.000000,1281.750000,1284.395000,5.922312e+06,9.135920e+14,1.582450e+05,2.779888e+06,0.492250
75%,2077.075000,2080.750000,2100.362500,2046.312500,2077.575000,2077.225000,2075.690000,9.296070e+06,1.584912e+15,2.344620e+05,4.091049e+06,0.566850
max,2819.850000,2856.150000,2856.150000,2786.100000,2810.000000,2819.850000,2823.910000,6.523089e+07,1.473434e+16,1.428490e+06,1.973411e+07,0.827000

In [14]:
reliance.corr()

,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Prev Close,1.000000,0.999300,0.998909,0.998910,0.998376,0.998408,0.998893,0.170629,0.461425,0.412574,0.149099,-0.139488
Open,0.999300,1.000000,0.999551,0.999552,0.999036,0.999061,0.999537,0.172747,0.463720,0.413794,0.148947,-0.142268
High,0.998909,0.999551,1.000000,0.999455,0.999639,0.999654,0.999851,0.184528,0.474013,0.424023,0.158162,-0.148272
Low,0.998910,0.999552,0.999455,1.000000,0.999584,0.999609,0.999808,0.163898,0.455694,0.403306,0.140281,-0.139204
Last,0.998376,0.999036,0.999639,0.999584,1.000000,0.999988,0.999824,0.175692,0.466020,0.413835,0.149935,-0.145057
Close,0.998408,0.999061,0.999654,0.999609,0.999988,1.000000,0.999848,0.175297,0.465703,0.413497,0.149647,-0.144787
VWAP,0.998893,0.999537,0.999851,0.999808,0.999824,0.999848,1.000000,0.175220,0.465866,0.414145,0.149553,-0.144749
Volume,0.170629,0.172747,0.184528,0.163898,0.175692,0.175297,0.175220,1.000000,0.918919,0.913372,0.836596,-0.444854
Turnover,0.461425,0.463720,0.474013,0.455694,0.466020,0.465703,0.465866,0.918919,1.000000,0.927628,0.728441,-0.437703
Trades,0.412574,0.413794,0.424023,0.403306,0.413835,0.413497,0.414145,0.913372,0.927628,1.000000,0.757118,-0.419716
Deliverable Volume,0.149099,0.148947,0.158162,0.140281,0.149935,0.149647,0.149553,0.836596,0.728441,0.757118,1.000000,-0.040608
%Deliverble,-0.139488,-0.142268,-0.148272,-0.139204,-0.145057,-0.144787,-0.144749,-0.444854,-0.437703,-0.419716,-0.040608,1.000000